<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>itsure博客-列表页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <script src="static/js/index.js"></script>
    <script src="static/js/show.js"></script>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/page.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/page.css"/>
    <style>
        body{background: #f5f5f5}
    </style>
</head>
<body>
    <div>
        <!--menu start-->
        <div th:replace="header"></div>
        <!--banner end-->
        <div class="article-menu-wapper" th:each="menu:${menus}" th:if="${menu.subMenus.size() gt 0}">
            <div class="article-menu-container">
                <a th:each="submenu:${menu.subMenus}" th:href="${submenu.url}"><li  th:text="${submenu.name}" class="tabMenu"></li></a>
            </div>
        </div>
        <!--article list start-->
        <div class="article-list-container" th:fragment="artCont">
            <div class="article-list" th:each="article:${articles}">
                <div class="article-list-left">
                    <div class="article-title1" th:if="${article.originType}==0"><a th:href="@{'/show?id='+${article.id}}" th:text="${article.title}"></a></div>
                    <div class="article-title2" th:if="${article.originType}==1"><a th:href="@{'/show?id='+${article.id}}" th:text="${article.title}"></a></div>
                    <div class="article-info">
                        <div class="article-description">
                            <div class="desc" th:text="${article.desc}"></div>
                            <div class="skill-stack">
                                <div><li>技术栈:</li><li th:each="tag:${article.tags}" th:text="${tag}"></li></div>
                            </div>
                        </div>
                        <div class="article-info-space">
                            <dd>字数</dd>
                            <dd th:text="${article.wordCount}"></dd>
                        </div>     
                        <div class="article-info-space">
                            <dd>浏览数</dd>
                            <dd th:text="${article.hits}"></dd>
                        </div>         
                        <div class="article-info-space">
                            <dd>时间</dd>
                            <dd th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd')}"></dd>
                        </div>
                    </div>
                </div>
                <div class="article-list-right" th:text="${article.status} == 0 ?'已完毕':'连载中'"></div>
            </div>

            <div th:if="${articles} == null" class="noCont">
                没有记录~~作者比较忙！
            </div>
        </div>
        <div th:if="${articles.size()} eq 0" class="noCont">
            没有记录~~作者比较忙！
        </div>
        <div th:if="${articles} != null" class="zxf_pagediv"></div>
        <!--article list end-->
        <!--footer start-->
        <div th:replace="footer"></div>
        <!--footer end-->
    </div>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        id = getParam("id");
        $(".tabMenu").each(function(e){
           if (e == id-1){
            $(this).addClass('type_active');
           }
        });
    })
    //翻页
    $(".zxf_pagediv").createPage({
        /*<![CDATA[*/
            pageNum: [[${counts}]],
        /*]]>*/
        current: 1,
        backfun: function(e) {
            id = getParam("id");
            pageId = e.current;
            getArticleByMenuId(id,pageId)
        }
    });

    function getArticleByMenuId(val1,val2){
        $.ajax({
             url : "/getArticleByMenuId",
             type : 'get',
             data : {id:val1,pageId:val2},
             success : function(result) {
             if (result != null && result.length > 0) {
                if (result.indexOf("<li") == -1){
                    result = '<div class="noCont">没有记录~~作者比较忙！</div>';
                }
                $('.article-list-container').html(result);
             }
             else {
                 alert("网站出现异常1");
             }

        },
            error : function(errorMsg) {
                //请求失败时执行该函数
                console.log(errorMsg);
            }
        })
    }

    function getParam(paramName) {
        paramValue = "", isFound = !1;
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
        }
        return paramValue == "" && (paramValue = null), paramValue
    }
</script>
</html>